.long{width:18%;}/*For widths that don't need to be too long*/
.short{width:10%;}/*For widths that don't need to be too long*/
.big{width:60%;}
.full{width:100%;}

/*Warning google symbol and paragraph side by side*/
div.warning{
    border: 3px solid orange;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin-bottom:10px;
}
div.warning > div{
    float:left;
}
div.warning > p{
    position:relative;
    margin: 0px 0px 0px 60px;
}
.material-icons.custom{
    font-size: 40px;
    color: #E65C00;
}

body{
    background-color:#A2A2A2;
}

h1{
    font-family:"Arial", Helvetica, sans-serif;
    font-size:2.5em;
    color:#FFD633;
}

h2{
    font-family:"Arial", Helvetica, sans-serif;
    font-size:2.0em;
    color:#FFD633;
}

p{
    font-family:"Arial", Helvetica, sans-serif;
    font-size:1.15em;
    color:#494949;
    }

.prevhead{
    font-family:"Arial", Helvetica, sans-serif;
    font-size:13px;
    color:#FFD633;
    display:inline-block;
    margin:0 0 0 10px;
    width:25%;
    vertical-align:top;
}

.prev{
    font-family:"Arial", Helvetica, sans-serif;
    font-size:13px;
    color:#FFFFFF;
    display:inline-block;
    margin:0 0 0 10px;
    width:70%;
}

a:link, a:visited{
    font-family:"Arial", Helvetica, sans-serif;
    font-size:1.15em;
    text-decoration:none;
    display:inline-block;
    color:#FFD633;
}

a:hover, a:active{
    background-color:#616161;
}

ol{
    font-family:"Arial", Helvetica, sans-serif;
    font-size:1.15em;
    color:#FFD633;
}

.enter, .del{
    font-family:"Arial", Helvetica, sans-serif;
    font-weight:bolder;
    font-size:10px;
    color:red;
    border-radius:12px;
    border-style:outset;
}

.enter:hover, .del:hover{
    border-style:inset;
}

.add{
    vertical-align:middle;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    width:30%;
    background:#33282C;
    color:#f5cc7a;
    font-family: Tahoma, Geneva, sans-serif;
    height:30px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
.add:hover {
    background:#fff;
    color:#33282C;
}

input[type=text]
{
    border-color:#5C5653;
    background-color:#C4C2C1;
     -webkit-box-sizing:border-box;
     -moz-box-sizing: border-box;
    box-sizing: border-box;
    display:inline-block;
    vertical-align: middle;
    font-family: Tahoma, Geneva, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

::-webkit-input-placeholder {color: #33282C;}
:-moz-placeholder { /* Firefox 18- */color: #33282C;}
::-moz-placeholder {  /* Firefox 19+ */color: #33282C;}
:-ms-input-placeholder {color: #33282C;}

form.myform
{
   background: #595450; /* Old browsers */
   background: -moz-linear-gradient(top,  #595450 0%, #47413d 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#595450), color-stop(100%,#47413d)); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top,  #595450 0%,#47413d 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top,  #595450 0%,#47413d 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top,  #595450 0%,#47413d 100%); /* IE10+ */
   background: linear-gradient(to bottom,  #595450 0%,#47413d 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#595450', endColorstr='#47413d',GradientType=0 ); /* IE6-9 */
   
   margin:auto;
   position:relative;
   font-family: Tahoma, Geneva, sans-serif;
   font-size: 14px;
   line-height: 24px;
   font-weight: bold;
   color: #F5CC7A;
   text-decoration: none;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   padding:10px;
   -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
   -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
   box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

label.myform
{
   display:inline-block;
   /*padding-right:10px;
   text-align:right;
   float:left*/
}

input.myform, select.myform, textarea.myform
{
   vertical-align: middle;
   font-family: Arial, Helvetica, Sans-Serif;
   font-style: normal;
   font-weight: bold;
   font-size: 13px;
}

input[type=number].myform
{
   border-color:#5C5653;
   background-color:#C4C2C1;
   /*width:20%;*/
   box-sizing: border-box;
   display:inline-block;
   vertical-align: middle;
   font-family: Arial, Helvetica, Sans-Serif;
   font-style: normal;
   font-weight: bold;
   font-size: 13px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}

input[type=text].myform
{
   border-color:#5C5653;
   background-color:#C4C2C1;
   /*width:20%;*/
   box-sizing: border-box;
   display:inline-block;
   vertical-align: middle;
   font-family: Arial, Helvetica, Sans-Serif;
   font-style: normal;
   font-weight: bold;
   font-size: 13px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}

input[type=submit].myform
{
   width:100px;
   position:relative;
   margin:5px;
   bottom:35px;
   float:right;
   background:#33282C;
   color:#f5cc7a;
   font-family: Tahoma, Geneva, sans-serif;
   height:30px;
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   border-radius: 15px;
   }
   input[type=submit].myform:hover {
   background:#fff;
   color:#33282C;
}

input[type=reset].myform
{
   width:100px;
   position:relative;
   margin:5px;
   bottom:35px;
   float:right;
   background:#33282C;
   color:#f5cc7a;
   font-family: Tahoma, Geneva, sans-serif;
   height:30px;
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   border-radius: 15px;
}
input[type=reset].myform:hover {
   background:#fff;
   color:#33282C;
}

input[type=button].myform
{
   width:100px;
   position:relative;
   margin:5px;
   bottom:35px;
   float:right;
   background:#33282C;
   color:#f5cc7a;
   font-family: Tahoma, Geneva, sans-serif;
   height:30px;
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   border-radius: 15px;
}
input[type=button].myform:hover {
   background:#fff;
   color:#33282C;
}

label.pwm {
    position:relative;
    white-space:nowrap;
    
    font: 12px/26px Arial, sans-serif;
	color: #000;
	font-weight: bold;
	text-shadow: 1px 1px 0px rgba(255,255,255,.15);
}

/*HERE STARTS THE CHECKBOX ON-OFF BUTTON*/
input[type=checkbox] {
	visibility: hidden;
}

/* SLIDE THREE */
.slideThree {
	width: 80px;
	height: 26px;
	background: #595450;
	margin: 20px;
	margin-right: 200px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	position: relative;
	display:inline-block;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}

.slideThree:after {
	content: 'OFF';
	font: 12px/26px Arial, sans-serif;
	color: #000;
	position: absolute;
	right: 10px;
	z-index: 0;
	font-weight: bold;
	text-shadow: 1px 1px 0px rgba(255,255,255,.15);
}

.slideThree:before {
	content: 'ON';
	font: 12px/26px Arial, sans-serif;
	color: #00bf00;
	position: absolute;
	left: 10px;
	z-index: 0;
	font-weight: bold;
}

.slideThree label {
	display: block;
	width: 34px;
	height: 20px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;

	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;
	cursor: pointer;
	position: absolute;
	top: 3px;
	left: 3px;
	z-index: 1;

	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	background: #fcfff4;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.slideThree input[type=checkbox]:checked + label {
	left: 43px;
}

.slideThree span {
    position:absolute;
    /*top:3px;*/
    left:83px;
    white-space:nowrap;
    
    font: 12px/26px Arial, sans-serif;
	color: #000;
	font-weight: bold;
	text-shadow: 1px 1px 0px rgba(255,255,255,.15);
}
/*HERE ENDS THE CHECKBOX ON-OFF BUTTON*/


/*HERE STARTS THE SLIDER CSS*/
input[type=range].slider {
  -webkit-appearance: none;
  width: 50%;
  margin: 8.8px 0;
}
input[type=range].slider:focus {
  outline: none;
}
input[type=range].slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #595450;
  border-radius: 7.8px;
  border: 1px solid #010101;
}
input[type=range].slider::-webkit-slider-thumb {
  box-shadow: 0.9px 0.9px 5px #000031, 0px 0px 0.9px #00004b;
  border: 3px solid #ffd633;
  height: 26px;
  width: 26px;
  border-radius: 13px;
  background: #ffd633;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9.8px;
}
input[type=range].slider:focus::-webkit-slider-runnable-track {
  background: #3E3B38;
}
input[type=range].slider::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #595450;
  border-radius: 7.8px;
  border: 1px solid #010101;
}
input[type=range].slider::-moz-range-thumb {
  box-shadow: 0.9px 0.9px 5px #000031, 0px 0px 0.9px #00004b;
  border: 1px solid #ffd633;
  height: 22px;
  width: 22px;
  border-radius: 11px;
  background: #ffd633;
  cursor: pointer;
}
input[type=range].slider::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].slider::-ms-fill-lower {
  background: #1f181b;
  border: 1px solid #010101;
  border-radius: 15.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].slider::-ms-fill-upper {
  background: #595450;
  border: 1px solid #010101;
  border-radius: 15.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].slider::-ms-thumb {
  box-shadow: 0.9px 0.9px 5px #000031, 0px 0px 0.9px #00004b;
  border: 3px solid #ffd633;
  height: 26px;
  width: 26px;
  border-radius: 13px;
  background: #ffd633;
  cursor: pointer;
  height: 8.4px;
}
input[type=range].slider:focus::-ms-fill-lower {
  background: #595450;
}
input[type=range].slider:focus::-ms-fill-upper {
  background: #3E3B38;
}

.slider-value {
    display: inline-block;
    position: relative;
    width: 60px;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: #595450;
    padding: 5px 10px;
    margin-left: 7px;
}
/*HERE ENDS THE SLIDER CSS*/